@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model OnLineShop.Models.UserRegister;

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ENROLLMENT</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../../Content/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({

                type: 'POST',
                URL: '/UserLogin/Login',
                data: data,
                dataType: 'JSON',
                success: function (data) {
                    datadata = data.status
                    if (status == "1") {
                        window.location.href = '@Url.Action("Index","UserLogin")';
                    }
                }
            });
        });
    </script>
</head>

<body>
    <!------ Include the above in your HEAD tag ---------->
    @using (Html.BeginForm("Login", "UserLogin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container register">
            <div class="row">
               @* <div class="col-md-3 register-left">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                    <h3>Welcome</h3>
                    <p>This Example is for learning MVC Basic Login and Registration Using ADO.NET.</p>
                </div>*@
                <div class="col-md-9 register-right">
                    @*<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="../UserLogin/Login" role="tab" aria-controls="profile" aria-selected="false">Login</a>
                        </li>
                    </ul>*@
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Login as a User</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(e => e.Email, new { @class = "form-control", placeholder = "Your Email *" })
                                        @Html.ValidationMessageFor(e => e.Email ,null,new {@class="text-danger"})
                                    </div>
                                    <br>

                                    <div class="form-group">
                                        @Html.PasswordFor(e => e.Password, new { id = "password", @class = "form-control", placeholder = "Password *" })
                                        <span id="result"></span>
                                        @Html.ValidationMessageFor(e => e.Password,null,new {@class="text-danger"})
                                    </div>
                                    <br>
                                    <div class="col-md-6">
                                        <input type="submit" class="btnLogin" value="Login" />
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $(function () {
                    var msg = '@ViewData["result"]';
                    if (msg == '1') {
                        alert("User Details Inserted Successfully");
                        window.location.href = "@Url.Action("Index", "UserLogin")";
                    }
                });
            </script>
            
        </div>
    }
</body>
</html>