@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using OnLineShop.Models;
@model List<Products>;
@{
}

<br />
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>           
            <th>Type</th>
            <th>Color</th>
             <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.Image" class="" width="200px" height="200px" style="margin:2px">
                    </td>
                    <td style="padding:50px ;font-size:25px;color:green">@item.Name</td>
                    <td style="padding:50px  ;font-size:25px;color:green">@item.Price</td>
                    <td style="padding:50px  ;font-size:25px;color:green">@item.ProductType_prop.Producttype</td>
                    <td style="padding:50px ;font-size:25px;color:green">@item.ProductColor</td>
                    <td>
                        <a asp-action="Remove" asp-controller="Home" style="margin:40px ;block-size:auto" class="btn btn-danger" asp-route-id="@item.Id">
                            <i class="fa-sharp fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-end">
        <div class="total-amount">
            <h4>Total Amount</h4>
            <h4>Grand Total: @Model.Sum(c => c.Price)</h4>
        </div>
    
    </div>
    <div class=" text-end">
        <a asp-area="Customer" asp-action="Index" asp-controller="Home"  class="btn btn-success">Back to List</a>
        <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-info">Process to Checkout</a>
    </div>
  
    
</div>


@*<div class="row">
    <div class="col-8">       
    </div>
    
    <div class="col-2 text-end" >
        <a asp-area="Customer" asp-action="Index" asp-controller="Home" style="margin-top:100px"  class="btn btn-success">Back to List</a>
    </div>
    <div class="col-2 text-end">
        <h4>Total Amount </h4>
        <h4>Grand Total : @Model.Sum(c=>c.Price)</h4>
        <a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-info">Process to checkout</a>
    </div>
    
</div>*@